extends layout 

block content
  div.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        a(data-toggle='collapse', data-target='.navbar-collapse').btn.navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand #{title}
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='/') Home
          li.active
            a(href='/config') Config
  div.top
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th PC
            th IP
            th MAC
            th
        tbody
          - if (typeof(pclist) !== 'undefined')
          - each pc in pclist
            tr  
              form(action="/remove",method="post")       
                td(style="vertical-align:middle")= pc.Name
                  input(type="hidden", name="PcName", value=pc.Name) PcName
                td(style="vertical-align:middle")= pc.IP
                  input(type="hidden", name="Ip", value=pc.IP) Ip
                td(style="vertical-align:middle")= pc.Mac 
                  input(type="hidden", name="Mac", value=pc.Mac) Mac
                td(style="vertical-align:middle")
                  input.btn(type="submit", value="Remove",class="btn-block")
          tr
            form(action="/add",method="post")
              td(style="vertical-align:middle")
                input(type="text", name="PcName", placeholder="PC Name", required) PcName
              td(style="vertical-align:middle")
                input(id="textIp", type="text", name="Ip", placeholder="127.0.0.1", required pattern="((^|\\.)((25[0-5])|(2[0-4]\\d)|(1\\d\\d)|([1-9]?\\d))){4}$") IP
              td(style="vertical-align:middle")
                input(id="textMac", type="text", name="Mac", placeholder="aa:aa:aa:aa:aa:aa", required pattern="^([0-9A-Fa-f]{2}[:-]){5}([0-9A-Fa-f]{2})$") Mac
              td(style="vertical-align:middle")
                input.btn.btn-block(type="submit", value="Add")
            tr        
              td
              td
              td
              td(style="vertical-align:middle")
                .btn-group.btn-block
                  button.btn.btn-block.dropdown-toggle(data-toggle='dropdown') Available
                      span.caret
                    ul.dropdown-menu(role='menu', id="foundedPcs")  
  div.footer
