extends layout
 
block content
  div.navbar.navbar-default.navbar-fixed-top
    div.container
      div.navbar-header
        a(data-toggle='collapse', data-target='.navbar-collapse').btn.navbar-toggle
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='#').navbar-brand #{title}
      div.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active
            a(href='/') Home
          li
            a(href='/config') Config
  div.top
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th PC
            th IP
            th MAC
            th
        tbody
          - if (typeof(pclist) !== 'undefined')
          - each pc in pclist
            tr 
              form(action="/",method="post")        
                td(style="vertical-align:middle")= pc.Name
                td(style="vertical-align:middle")= pc.IP
                td(style="vertical-align:middle")= pc.Mac
                  input(type="hidden", name="Mac", value=pc.Mac) Mac  
                td
                  input.btn(type="button", onclick="doPrint(\'" + pc.Mac + "\')", value="Wake",class="btn-block")
  div.footer